@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --body-bg: #EEE9F3;
    --primary-color: #5D2E90;
    --primary-color-light: #8957A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Nunito', sans-serif;
    background: var(--body-bg);
}

.home_container {
    justify-content: center;
    display: flex;
    margin: 8rem auto 0 auto;
    flex-direction: column;
    align-items: center;
}

.game_title {
    margin-bottom: 3rem;
}


.home_container .logo img {
    height: 252px;
    width: 252px;
    border-radius: 24px !important;
}

.home_container .label_container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.home_container .label_container div {
    display: flex;
    position: relative;
}

.home_container .label_container div img {
    height: auto;
    width: 3.2rem;
    position: absolute;
    left: -35px;
    top: -6px;
}

.home_container .label_container p {
    padding: 5px 20px;
    border-radius: 24px;
    background: var(--primary-color-light);
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}


.leaderBoard_tournament_container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.leaderBoard_tournament_container div {
    border: 3px solid var(--primary-color);
    border-radius: 32px;
    padding: 0 10px;
    margin: 0 10px;
}

.leaderBoard_tournament_container div p {
    padding: 2px 15px;
    font-family: 'Nunito', sans-serif;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 0;
}

.leaderBoard_tournament_container div:hover {
    background: var(--primary-color);
    cursor: pointer;
}

.leaderBoard_tournament_container div:hover p {
    color: #fff;
}


.play_btn_container {
    margin-top: 3rem;
}

.btn_primary {
    width: auto !important;
    border-radius: 32px;
    border: 5px solid var(--primary-color-light);
    transition: all 0.3s ease-in-out;
    /* Transition defined once */
    background: linear-gradient(180deg, #5C2D91 50%, #6B36A7 50%);
}

.btn_primary a,
.btn_primary button {
    color: #fff;
}

.btn_primary a:hover,
.btn_primary button:hover {
    color: #fff;
    background: linear-gradient(-180deg, #6B36A7 50%, #5C2D91 50%);
}

.btn_secondary {
    width: auto !important;
    border-radius: 32px;
    border: 5px solid var(--primary-color-light);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(180deg, #D5BBF2 50%, #E9D6FF 50%);
    text-align: center;
}

.btn_secondary a,
.btn_secondary button {
    color: #9C4DF5;
    text-align: center;
    font-weight: 600;
}



.play_btn_container div:nth-of-type(2) {

    text-align: center;
    margin: 20px 0;
}



.play_btn_container div button {
    text-decoration: none;
    cursor: pointer;
    padding: 6px 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 28px;
    text-align: center;
    background: transparent;
    box-shadow: none;
}

.play_btn_container div a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    border-radius: 32px;
    text-align: center;
}

.play-now-btn {
    color: #fff;
}

.play-now-btn:hover {
    color: #e0e0e0;
}

.play_btn_container .subscribe_btn button {
    color: #fff;
}

.play_btn_container div:nth-of-type(2) a {
    color: #9C4DF5;
}

.play_btn_container div:hover a {
    border-radius: 50px;
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.payment_model {
    position: relative;


}

.payment_model .status {

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Shift left by 50% of its own width */
    background: #EEE9F3;
    border-radius: 50%;
    z-index: 9999;
}



.payment_model .status .fa-circle-check {
    font-size: 3.5rem;
    color: #4BB731;
}


.payment_model .ooops_container{
    text-align: center;
}

.payment_model .ooops_container h1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 56px;
    font-style: normal;
}
.payment_model .ooops_container p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
}

.payment_close_btn{
    font-weight: 800!important;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}


.payment_model .status .fa-circle-exclamation {
    font-size: 4rem;
    color: #FF6B6B;
}

.payment_model .content {
    background-color: #EEE9F3;
    position: relative;
    border-radius: 28px;
    top: 30px;
    padding-bottom: 2rem;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.payment_model {}

.payment_model {}


.back_button{
    margin: 40px 0 0 40px;
    display: block;
    transition: all 0.3s ease-in-out;
}


.back_button i {
    font-size: 28px; /* Icon size */
    color: #5C2D91;
    transition: all 0.3s ease-in-out;
}

.back_button:hover i {
    transform: translateX(-10px);
}


/* media tag devices:start */
@media screen and (min-width: 319px) and (max-width: 368px) {

    .leaderBoard_tournament_container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .leaderBoard_tournament_container div {
        margin: 5px 0;
    }

    .leaderBoard_tournament_container p {
        text-align: center;
    }
}

/*  320px — 480px: Mobile devices */
@media screen and (min-width: 319px) and (max-width: 480px) {
    .home_container .label_container div img {
        height: auto;
        width: 40px;
        left: -30px;
        top: -10px;
    }

    .home_container .label_container p {
        padding: 5px 18px;
        border-radius: 18px;
        font-size: 14px;
    }

    .play_btn_container div {
        margin-top: 10px;
    }

    .play_btn_container div a {
        padding: 10px 50px;
        font-size: 28px;
        border-radius: 32px;
    }
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {}

/* 768px iPads, Tablets */
@media only screen and (min-width: 768px) {

    .home_container .label_container {
        width: 50rem;
    }

    .leaderBoard_tournament_container {
        width: 40rem;
    }
}

/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .home_container .label_container {
        width: 50rem;
    }

    .leaderBoard_tournament_container {
        width: 40rem;
    }
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .home_container .label_container {
        width: 50rem;
    }

    .leaderBoard_tournament_container {
        width: 40rem;
    }
}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {

    .leaderBoard_tournament_container,
    .home_container .label_container {
        width: 50rem;
    }

    .leaderBoard_tournament_container {
        width: 40rem;
    }
}

/* media tag devices:end */
